button{
    background: rgb(161, 161, 173);
    font-size: 13px;
    color: rgb(51, 44, 44);
    font-weight: 400;
    padding: 0.5rem;
    border: 1px solid rgb(97, 94, 94);
    cursor: pointer;
    &:hover{
        background: lightblue;
    }
}